<div class="leftPart">
    <div class="naviList">
        <ul>
            <li>
                <a href="/admin/InsertHomePage" class="rightArrow">Header <span></span></a>
            </li>
          @*  <li>
                <a href="/admin/AddEditFooterHotLinks" class="rightArrow">Add Edit Footer Hot Links <span></span></a>
            </li>*@
            <li>
                <a href="~/admin/AddEditFooterMap" class="rightArrow">Footer Map <span></span></a>
            </li>
            <li>
                <a href="/admin/AddEditFooterContactUs" class="rightArrow">Footer Contact Us <span></span></a>
            </li>
            <li>
                <a href="/admin/AddEditHomeIndexPage" class="rightArrow">Home Index Page <span></span></a>
            </li>
            <li>
                <a href="/admin/PressRelease" class="rightArrow">Press Releases <span></span></a>
            </li>
            <li>
                <a href="/admin/AddEditHomeBanner" class="rightArrow">Home Index Page Banner<span></span></a>
            </li>
            <li>
                <a href="/admin/ManagePhotoAlbums" class="rightArrow">Manage Albums<span></span></a>
            </li>
            <li>
                <a href="/admin/Allotment" class="rightArrow">Allot<span></span></a>
            </li>
            @*<li>
                <a href="javascript:void(0)" class="rightArrow">Manage Setting <span></span></a>
                <ul class="subnav">
                    <li><a href="/admin/changepassword">Change Password</a></li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>
