@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> : Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
</head>
<body>
    <style>
        .input-group-glue {
            width: 0;
            display: table-cell;
        }

        .LangDropDown {
            float: right;
        }

            .LangDropDown option a {
                color: green;
            }

        .displayLang {
            display: inline-block !important;
        }
    </style>

    <div class="main-cont">
        
    </div>
    
</body>
</html>
