@model BiharStateHousingBoard.Models.MasterPgViewModel
@{
    Layout = "~/Views/Shared/_PhotoGalleryLayout.cshtml";
    //Layout = null;
    //int loop = int.Parse(TempData["menucnt"].ToString());
    //int firstsubmnu = 0;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
    Bihar State Housing Board
</title>
</head>
<body>

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
    media="screen" />

    <div class="container">
        <div class="row cols-wrapper">
    <div class="col-md-12">
    </div>
    </div>

    </div><!--//wrapper-->

    <!-- Javascript -->

</body>
</html> 
    